body{
    background-color: lightblue;
    margin: 0px;
    margin-top: none;

}


#div2{
    background-color: yellow;
    border: solid 20px;
    margin-left: 220px;
    height: 200px;
    width: 200px;


}
#div3{
    background-color: red;
    border: solid 10px;
    margin-left: 460px;
    height: 200px;
    width: 200px;


}
#div4{
    background-color: blue;
    border: solid 20px;
    margin-left: 680px;
    height: 200px;
    width: 200px;


}