body{
    background-color: rgb(171, 195, 206);
    margin: 0px;
    margin-top: none;
    /* text-align: center; */

}

.top-container{

    text-align: center;
}

.cloud1{
    height: 100px;
    width: 200px;
}

.cloud2{
    position: absolute;
    left: 30%;
    top: 150px ;
    height: 300px;
    width: 800px;
 
}

.cloud3{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 75px;
    top: 3%;
}
.cloud4{
    height: 500px;
    width: 500px;
    position: absolute;
    left: 75px;
    top: 3%;

}

.mountain{
    max-width: 100%;
}
.cloud4{
    position: absolute;
    left: 70%;
    top: 30%;
    height: 200px;
    width: 500px;
 
}

#div2{
    background-color: yellow;
    border: solid 20px;
    margin-left: 220px;
    height: 200px;
    width: 200px;


}
#div3{
    background-color: red;
    border: solid 10px;
    margin-left: 460px;
    height: 200px;
    width: 200px;


}
#div4{
    background-color: blue;
    border: solid 20px;
    margin-left: 680px;
    height: 200px;
    width: 200px;


}